.Button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}

.Button:hover {
  cursor: pointer;
}

.Button:disabled {
  cursor: not-allowed;
}

.Orange {
  background-color: orange;
}

.Orange:hover {
  background-color: darkorange;
}

.Orange:disabled {
  background-color: #ccc;
}

.LightBlue {
  background-color: blueviolet;
  color: white;
}

.LightBlue:hover {
  background-color: blue;
}

.LightBlue:disabled {
  background-color: #ccc;
}

.Red {
  background-color: rgb(255, 0, 0);
  color: white;
}

.Red:hover {
  background-color: rgb(184, 0, 0);
}
